<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="componente-c">
  <template>
    <style>
      :host {
        display: block;
      }
      tr{
        text-align: center;
      }
    </style>
    <h2>Hola soy el [[prop1]]!</h2>
    <table border>
      <thead>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Numero de lista</th>
      </thead>
      <tbody>
        <tr>
          <td>Luis</td>
          <td>Cedillo</td>
          <td>5</td>
        </tr>
        <tr>
          <td>Carlos</td>
          <td>Moreno</td>
          <td>6</td>
        </tr>
        <tr>
          <td>Jesus</td>
          <td>Vazquez</td>
          <td>9</td>
        </tr>
        <tr>
          <td>Claudia</td>
          <td>Alvarez</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Gerardo</td>
          <td>Hernan</td>
          <td>7</td>
        </tr>
      </tbody>
    </table>
  </template>

  <script>
    /**
     * `componente-c`
     * componente hijo c
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponenteC extends Polymer.Element {
      static get is() { return 'componente-c'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Componente C'
          }
        };
      }
    }

    window.customElements.define(ComponenteC.is, ComponenteC);
  </script>
</dom-module>
